<h1><%=@employee.to_s%></h1>
<ul>
    <li>Title: <%=@employee.title%></li>
    <li>Alias: <%=@employee.alias%></li>
    <li>Office: <%=@employee.office%></li>
    <li>Dog: <%=@employee.dog.name%></li>
</ul>
<image src="<%=@employee.img_url%>">